body {
    display: flex;
    justify-content: center;
}

div {
    box-sizing: border-box;
}

label {
    color:rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 3px;
    padding: 5px;

}

.textAndBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 25px;
    width:  80px;
    text-align: center;
    
}

button {
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    margin: 3px;
    background-color: transparent;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 10px;
    font-size: large;
}
button:hover {
    background-color: white
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 184, 231);
    height: 600px;
    width: 600px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px groove black;
    
    

}
.board {
    height: 508px;
    width: 508px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px groove black;
    
}


.painted {
    background-color: rgb(37, 1, 10);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
